<form #carForm="ngForm" >
  <div class="form-group">
    <label>Description</label>
    <input type="text" name="description" class="form-control" [(ngModel)]="car.description" required>
  </div>

  <div class="form-group">
    <label>Volume</label>
    <input type="text" class="form-control" name="volume" [(ngModel)]="car.volume" required>
  </div>

  <div class="form-group">
    <label>wheight</label>
    <input type="text" class="form-control" name="wheight" [(ngModel)]="car.wheight" required>
  </div>

  <div class="form-group">
    <label>Type</label>
    <select class="form-control" name="type" [(ngModel)]="car.type">
      <option value="Camion">Camion</option>
      <option value="Comercial_car">Comercial car</option>
      <option value="Normal_Car">Normal Car</option>
      <option value="Scouter">Scouter</option>
    </select>
  </div>

  <div class="form-group">
    <button class="btn btn-danger btn-block" (click)="addcar(this.USER.id)">Submit</button>
  </div>
</form>
