<div class="container-fluid">  
  <div class="row">
    <div class="col-md-3">
      <button class="btn btn-primary mb-3" (click)="createTop50Catalogue()">Créer un Top 50 catalogue</button>
    </div>
    <div class="col-md-3">
      <button class="btn btn-primary mb-3" (click)="createTopRatedProducts()">Créer un Top Rated catalogue</button>
    </div>
    <div class="col-md-3">
      <button class="btn btn-primary mb-3" (click)="createLatestCatalogue()">Créer un Latest Product catalogue</button>
    </div>
    <div class="col-md-3">
      <button class="btn btn-primary mb-3" (click)="createPromoCatalogue()">Créer un Promo Product catalogue</button>
    </div>
  </div>
</div>


<div class="container-fluid">  
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let catalogue of catalogues">
      <div class="card h-100">
        <img [src]="getCatalogueImg(catalogue.nom)" class="card-img-top" alt="..." height="300" width="100" >
        <div class="card-body">
          <h5 class="card-title">{{ catalogue.nom }}</h5>
          <p class="card-text">{{ catalogue.description }}</p>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-between align-items-center">
            <a (click)="voirProduits(catalogue.id)" class="btn btn-sm btn-outline-secondary">Voir les produits</a>
            <a (click)="remplirCatalogue(catalogue.id)" class="btn btn-sm btn-outline-secondary">Remplir Catalogue</a>  
          </div>
        </div>
        <button class="btn btn-danger" (click)="removeProductFromCatalogue(catalogue.id)">Remove</button>
      </div>
    </div>
  </div>
</div>



