<div class="row">
    <div class="col-md-3" *ngFor="let produit of produits">
      
        <div class="card mb-4 shadow-sm">
          <img [src]="produit.img" class="card-img-top">
            <div class="card-body">
            <h5 class="card-title">{{ produit.nom }}</h5>
            <p class="card-text">{{ produit.description }}</p>
            <p class="card-text">{{ produit.prix }}</p>
            
            <button (click)="addProduitToCatalogue(catalogueId, produit.id)" class="btn btn-sm btn-primary">Ajouter produit</button>
          
          </div>
        </div>
      </div>
    
      
  
    </div>
  
  
    